
<div class="container-fluid">
  <div class = "container-fluid" id="aiheader">
    <div class="row justify-content-between">
        <h2 class="col-md-12">{{jsontemplate.title}}</h2>
        <h2 class="col-md-12"></h2>
        <h2 class="col-md-12"></h2>
    </div>
  </div>
  <div class = "container-fluid" id="aiheader">
    <div class="row justify-content-between">
        <h2 class="col-md-12">{{jsontemplate.title}}</h2>
      
      </div>
      <div class="row">
        <span>
          <p>
            {{jsontemplate.description}}
          </p>
        </span>
      </div>
  </div>
  <div class="row justify-content-center" id="aiContent">
      <div class="col-md-4">
        <div class="row">
          <span>
            <p>
              INPUT:
            </p>
          </span>
        </div>
        <json-schema-form
        loadExternalAssets="true"
        [schema]="jsonSchema"
        [(data)]="submittedData"
        framework="material-design"
        (onSubmit)="showAiResult()">
        </json-schema-form>
      </div>
      <div class="col-md-4" [hidden]="isAiResultHidden">
        <div class="row">
          <span>
            <p>
              OUTPUT:
            </p>
          </span>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultSchema">
              <td>{{item.parameter}}</td>
              <td>{{item.value}}
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>  

