<div class="container" id="serviceThreeContainer">
  
  <div class="row">
    <h1 id="title1">Business 360</h1>
  </div>
  
  <div class="row">
    <h2 id="title2">Description:</h2>
  </div>

  <div class="row">
  <span>This is the description of Business 360.</span>
  </div>

  <div class="row middle">
    <!-- Another router -->


    <a class="col col1" [routerLink]="[{ outlets: { popup3: ['compose5'] } }]" routerLinkActive="active">
      <mat-card id="cardOne" >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 1</mat-card-title>
          <mat-card-subtitle>COST: 15 <span class="balanceUnit" > ETH</span></mat-card-subtitle>
          <mat-card-content>This is the description of Model 1</mat-card-content>
      </mat-card>
    </a>

    <a class="col col2" [routerLink]="[{ outlets: { popup3: ['compose6'] } }]" routerLinkActive="active">
      <mat-card >
          <mat-card-header>
          <span mat-card-avatar class="example-header-image" ></span>
          </mat-card-header>
          <mat-card-title> Model 2</mat-card-title>
          <mat-card-subtitle>COST: 50<span class="balanceUnit"> ETH</span></mat-card-subtitle>
          <mat-card-content>This is the description of Model 2</mat-card-content>
      </mat-card>
    </a>
        <div class="col-md-4" >
        <router-outlet name="popup3" id="serviceThreeRightPart"></router-outlet>
        </div>
  </div>

  <div class="row">
    <a href="" class="col-md-1 offset-md-3" >
      <table>
        <tr>
          <td id="lefthalf">+</td>
          <td id="righthalf">ADD MODEL</td>
        </tr>
      </table>
    </a>
  </div>

</div>

