span
{
    font-size:150%;
    margin-bottom:5%;
}

.mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}

mat-toolbar
{
    justify-content: center; /* align items in Main Axis */
}

mat-toolbar-row>img
{
    width: 60px;
    height: 60px;
}