span
{
    font-size:150%;
    margin-bottom:5%;
}

// .mat-tab-labels{
//     justify-content: center; /* align items in Main Axis */
// }

// mat-toolbar-row.mat-toolbar-row
// {
//     justify-content: center; /* align items in Main Axis */
// }

mat-toolbar-row>img
{
    width: 60px;
    height: 60px;
    // justify-content:flex-start;
}

mat-toolbar-row.mat-toolbar-row button
{
    width:20%;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.mat-menu-item
{
    font-weight:bold;
    font-size:110%;
}

div.mat-menu-panel>div.mat-menu-content
{
    min-width:280px;
    overflow:hidden;
}
