<mat-tab-group class="noselect">
  <mat-tab >
    <!-- The name of a label -->
    <ng-template mat-tab-label>
      Account
    </ng-template>
    <app-useraccount ></app-useraccount>
  </mat-tab>
  <mat-tab>
      <ng-template mat-tab-label>Trading Partner Discovery</ng-template>
      <app-service1></app-service1>
  </mat-tab>
  <mat-tab> 
      <ng-template mat-tab-label>Inventory Forecasting</ng-template>
      <app-service2></app-service2>
  </mat-tab>
  <mat-tab> 
      <ng-template mat-tab-label>
          EDI
      </ng-template>
    <app-edi-intro></app-edi-intro>
  </mat-tab>
</mat-tab-group>

