<div class="container-fluid">
  
    <div class="row">
      <h1 id="title1">EDI Data Conversion</h1>
    </div>
    
    <div class="row">
      <h2 id="title2">Description:</h2>
      <span>This is the description of the EDI Data Conversion.</span>
    </div>
    
    <div class="row middle">
        <a routerLink="/edi-form" routerLinkActive="active">
        <mat-card class="col-lg-2 col-md-2 col-xs-3">
            <mat-card-header>
            <span mat-card-avatar class="example-header-image" ></span>
            </mat-card-header>
            <mat-card-title> Form 1</mat-card-title>
            <mat-card-subtitle>Fill up form 1 to start </mat-card-subtitle>
            <mat-card-content>This is the description of form 1</mat-card-content>
        </mat-card>
        </a>
  
        <a routerLink="/edi-form2" routerLinkActive="active">
        <mat-card class="col-lg-2 col-md-2 col-xs-3">
            <mat-card-header>
            <span mat-card-avatar class="example-header-image" ></span>
            </mat-card-header>
            <mat-card-title> Form 2</mat-card-title>
            <mat-card-subtitle>Fill up form 2 to start</mat-card-subtitle>
            <mat-card-content>This is the description of form 2</mat-card-content>
        </mat-card>
      </a>
      <span class="col-lg-2 col-md-2 col-xs-3"><router-outlet></router-outlet></span>
      
       
    </div>
  
    <div class="row">
      
    </div>
  </div>
  
  