<div class="container">
  
    <div class="row">
      <h1 class="col" id="title1">EDI Data Conversion</h1>
    </div>
    
    <div class="row">
      <h2 class="col" id="title2">Description:</h2>
    </div>

    <div class="row">
    <span class="col">This is the description of the EDI Data Conversion.</span>
    </div>
    <div class="row middle">
        <a class="col" routerLink="/edi-form" routerLinkActive="active">
        <mat-card class="col-lg-2 col-md-2 col-xs-3">
            <mat-card-header>
            <img mat-card-avatar src="https://www.materialui.co/materialIcons/hardware/phonelink_black_192x192.png" alt="">
            </mat-card-header>
            <mat-card-title> Form 1</mat-card-title>
            <mat-card-subtitle>Fill up form 1 to start </mat-card-subtitle>
            <mat-card-content>This is the description of form 1</mat-card-content>
        </mat-card>
        </a>
  
        <a class="col" routerLink="/edi-form2" routerLinkActive="active">
        <mat-card class="col-lg-2 col-md-2 col-xs-3">
            <mat-card-header>
            <img mat-card-avatar src="https://www.materialui.co/materialIcons/hardware/phonelink_black_192x192.png" alt="">
            </mat-card-header>
            <mat-card-title> Form 2</mat-card-title>
            <mat-card-subtitle>Fill up form 2 to start</mat-card-subtitle>
            <mat-card-content>This is the description of form 2</mat-card-content>
        </mat-card>
      </a>
      
      
       
    </div>
  
    <div class="row">
        <span class="col"><router-outlet></router-outlet></span>
    </div>
  </div>
  
  