<div class="container">

  <div class="row">
    <h1 class="col-xs-12 col-lg-12">Account Information</h1>
  </div>
  

<div class="row"> 
<span>
  <label for="name" class="col-xs-6 control-label">Current Account Address</label>
  <h2 id="address"></h2> 
</span>
<div class="col-xs-6"></div>
</div>

<div class="row">
<span>
  <label for="name" class="col-xs-6 control-label">Current Balance</label>
  <h2 id="balance"></h2>
</span> 
<div class="col-xs-6"></div>
</div>


<div class="row">
<h1 class="col-lg-12 col-xs-12">Smart Contract Set Example</h1>
</div>

<div class="row">
  <label for="name" class="col-xs-6 control-label">Name</label>
  <div class="col-xs-6"></div>
</div>

<div class="row">
    <input id="name" type="text">
</div>

<div class="row">
  <label for="name" class="col-xs-12 col-md-12 col-lg-12 control-label">Age</label>
  <div class="col-xs-6 col-md-12 col-lg-12"></div>
</div>

<div class="row">
<input id="age" type="text">
</div>

<div class="row">
    <h2  class="col-lg-12 col-md-12 col-xs-12" id="sample"></h2> 
</div>

<div class="row">
    <button id="button">Update</button>
</div>

</div>

<script>
  document.getElementById("balance").innerHTML=balance;
  document.getElementById("address").innerHTML=account;
</script>