
<div class="container-fluid" id="accountsContainer">
  
  <div class="row">
    <h1>Account Overview</h1>
  </div>
  
  <div class="row">
    <h2>Description:</h2>
  </div>
  <div class="row">
  <span>
     <p>
        Accounts below represent all wallets owned by users on the blockchain. Account information includes Account name, balance and account address.
     </p> 

  </span>
  </div>

    <!-- <div class="row text-center">
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-xs-10 offset-xs-1" style="background: red"> -->
  <div class="row text-center" id="firstRow">
      <a href="" class="col">
      <mat-card>
          <mat-card-header>
          <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
          <!-- <span mat-card-avatar class="example-header-image" > </span> -->
          </mat-card-header>
          <mat-card-title> Account 1</mat-card-title>
          <mat-card-subtitle id="balance1" >Balance </mat-card-subtitle>
          <!-- <mat-card-content > <p> address </p></mat-card-content> -->
          <mat-card-footer id="address1"></mat-card-footer>
      </mat-card>
      </a>

      <a href="" class="col ">
      <mat-card>
          <mat-card-header>
                <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
          </mat-card-header>
          <mat-card-title> Account 2</mat-card-title>
          <mat-card-subtitle id="balance2" >Balance </mat-card-subtitle>
          <!-- <mat-card-content id="address2">address</mat-card-content> -->
          <mat-card-footer id="address2"></mat-card-footer>
      </mat-card>
      </a>

      <a href="" class="col">
      <mat-card>
          <mat-card-header>
                <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
          </mat-card-header>
          <mat-card-title> Account 3</mat-card-title>
          <mat-card-subtitle id="balance3" >Balance </mat-card-subtitle>
          <!-- <mat-card-content id="address3">address</mat-card-content> -->
          <mat-card-footer id="address3"></mat-card-footer>
      </mat-card>
      </a>

      <a href="" class="col">
      <mat-card>
          <mat-card-header>
                <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
          </mat-card-header>
          <mat-card-title> Account 4</mat-card-title>
          <mat-card-subtitle id="balance4" >Balance </mat-card-subtitle>
          <!-- <mat-card-content id="address4">address</mat-card-content> -->
          <mat-card-footer id="address4"></mat-card-footer>
      </mat-card>
      </a>

      <a href="" class="col">
      <mat-card>
          <mat-card-header>
                <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
          </mat-card-header>
          <mat-card-title> Account 5</mat-card-title>
          <mat-card-subtitle id="balance5" >Balance </mat-card-subtitle>
          <!-- <mat-card-content id="address5">address</mat-card-content> -->
          <mat-card-footer id="address5"></mat-card-footer>
      </mat-card>
      </a>

        <a href="" class="col"> 
            <mat-card>
            <mat-card-header>
                    <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
            </mat-card-header>
            <mat-card-title> Account 6</mat-card-title>
            <mat-card-subtitle id="balance6" >Balance </mat-card-subtitle>
            <!-- <mat-card-content id="address6">address</mat-card-content> -->
            <mat-card-footer id="address6"></mat-card-footer>
            </mat-card>
        </a> 
  
        <a href="" class="col">
        <mat-card>
            <mat-card-header>
                    <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
            </mat-card-header>
            <mat-card-title> Account 7</mat-card-title>
            <mat-card-subtitle id="balance7" >Balance </mat-card-subtitle>
            <!-- <mat-card-content id="address7">address</mat-card-content> -->
            <mat-card-footer id="address7"></mat-card-footer>
        </mat-card>
        </a>
  
        <a href="" class="col">
        <mat-card>
            <mat-card-header>
                    <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
            </mat-card-header>
            <mat-card-title> Account 8</mat-card-title>
            <mat-card-subtitle id="balance8" >Balance </mat-card-subtitle>
            <!-- <mat-card-content id="address8">address</mat-card-content> -->
            <mat-card-footer id="address8"></mat-card-footer>
        </mat-card>
        </a>
  
        <a href="" class="col">
        <mat-card>
            <mat-card-header>
                    <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
            </mat-card-header>
            <mat-card-title> Account 9</mat-card-title>
            <mat-card-subtitle id="balance9" >Balance </mat-card-subtitle>
            <!-- <mat-card-content id="address9">address</mat-card-content> -->
            <mat-card-footer id="address9"></mat-card-footer>
        </mat-card>
        </a>
  
        <a href="" class="col">
        <mat-card>
            <mat-card-header>
                    <img mat-card-avatar src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE7SURBVGhD7dk9SgRBEMXxCQW9gRp4DgM/QAPPoYamYqCYeQExEwRZbyAqggbGHkIQTQ00EAP9FygUQyF0N9s1vdSDH8tsw9t5DBNtF4lEIhOZGWziHLcO9lCcdbzg29EIRVnDF6zymoqGTOMVVnFtRUPknegXXmIH25WtIjsX6I9oMnfQQ3bRZB6gh1yhyfSHiGvUfkc2MIXsWEO8PGMRWRnSEPGGeSRnaEPEEZIzxCE3SM4Qh8g9JSeGjFEMsco8xRCrzFMMscrG6RNbWPj9lGt93syQY+icQJ83M2QfOgfQ580MecIsJHOQa33ezBDxjkd8qO/+NDXkPzHEKvMUQ6wyTzHEKvOUNeQeVpknuafknMEq83SK5KzAKvO0jKwcwir0IPdSFHky8kitPylrkN9eQiQSiUxMuu4HY4vFecHYuk8AAAAASUVORK5CYII=">
            </mat-card-header>
            <mat-card-title> Account 10</mat-card-title>
            <mat-card-subtitle id="balance10" >Balance </mat-card-subtitle>
            <!-- <mat-card-content id="address10">address</mat-card-content> -->
            <mat-card-footer id="address10"></mat-card-footer>
        </mat-card>
        </a>
    </div>

  <!-- <div class="row">
    <a href="" id="addAccountButton">
    <table>
      <tr>
        <td id="lefthalf">+</td>
        <td id="righthalf">ADD ACCOUNT</td>
      </tr>
    </table>
  </a>
  </div> -->
</div>
