<div class="container">
  
    <div class="row">
      <h1 id="title1">Inventory Forecasting</h1>
    </div>
    
    <div class="row">
      <h2 id="title2">Description:</h2>
      <span>This is the description of the Inventory Forecasting.</span>
    </div>
    
    <div class="row middle">
        <mat-card class="col-lg-2 col-md-2 col-xs-3">
            <mat-card-header>
            <span mat-card-avatar class="example-header-image" ></span>
            </mat-card-header>
            <mat-card-title> Model 1</mat-card-title>
            <mat-card-subtitle>COST: $1000 </mat-card-subtitle>
            <mat-card-content>This is the description of Model 1</mat-card-content>
        </mat-card>
  
        <mat-card class="col-lg-2 col-md-2 col-xs-3">
            <mat-card-header>
            <span mat-card-avatar class="example-header-image" ></span>
            </mat-card-header>
            <mat-card-title> Model 2</mat-card-title>
            <mat-card-subtitle>COST: $1200</mat-card-subtitle>
            <mat-card-content>This is the description of Model 2</mat-card-content>
        </mat-card>

        <a href="" class="col-lg-2 col-md-2 col-xs-3" >
            <table>
              <tr>
                <td id="lefthalf">+</td>
                <td id="righthalf">ADD MODEL</td>
              </tr>
            </table>
          </a>
       
    </div>
  
    <div class="row">
      
    </div>
  </div>
  
  