<div class="container"> 

<div class="row">
  <div class="col-xs-4"></div>
  <h1 class="col-xs-4">Models</h1>
  <div class="col-xs-4"></div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-6 jumbotron">
    <a href="https://www.youtube.com/watch?v=6S1_WqE55UQ">
      <img src="https://i.ytimg.com/vi/6S1_WqE55UQ/maxresdefault.jpg" alt="Hinton explaining his Capsule theory" class="img-thumbnail">
      <p>Geoffrey Hinton</p>
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6 jumbotron">
    <a href="https://www.youtube.com/watch?v=_1Cyyt-4-n8">
      <img src="https://i.ytimg.com/vi/_1Cyyt-4-n8/maxresdefault.jpg" alt="Yann LeCun Talking about Deep Learning" class="img-thumbnail">
      <p>Yann LeCun</p>
    </a>
  </div>
</div>

</div>
