<mat-toolbar fxFlex="100%"  color="primary"> 
  <mat-toolbar-row>
    <img src="../assets/images/LogoWhite.svg" alt="Pharus Logo">
      <mat-divider [vertical]="true"></mat-divider>
    
      <button mat-button mat-raised-button color="accent" [matMenuTriggerFor]="account">Account</button>
      <mat-menu #account="matMenu">
        <a mat-menu-item [routerLink]="[{ outlets: { menu: ['account'] } }]">Account</a>
      </mat-menu>
    
    <mat-divider [vertical]="true"></mat-divider>
    
    <button mat-button mat-raised-button color="accent" [matMenuTriggerFor]="menu">AI Service</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="[{ outlets: { menu: ['service1'] } }]">Partner Matching</a>
      <mat-divider></mat-divider>
      <a mat-menu-item [routerLink]="[{ outlets: { menu: ['service3'] } }]">Business 360</a>
      <mat-divider></mat-divider>
      <a mat-menu-item [routerLink]="[{ outlets: { menu: ['service2'] } }]">Inventory Planning</a>
      <mat-divider></mat-divider>
      <a mat-menu-item [routerLink]="[{ outlets: { menu: ['service4'] } }]">Demand Forecasting</a>
      <mat-divider></mat-divider>
      <a mat-menu-item [routerLink]="[{ outlets: { menu: ['service5'] } }]">Logistics Optimization</a>
    </mat-menu>

    <mat-divider [vertical]="true"></mat-divider>
    
    <button mat-button mat-raised-button color="accent" [matMenuTriggerFor]="EDI">Data Service</button>
    <mat-menu #EDI="matMenu">
      <a mat-menu-item [routerLink]="[{ outlets: { menu: ['EDIintro'] } }]">EDI Conversion</a>
      <a mat-menu-item href="">Data Storage</a>
      <a mat-menu-item href="">Data Computation</a>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>