
mat-toolbar-row.mat-toolbar-row button
{
	min-width: 1%;
    height: 95%;
    color:black;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    font-size:1vm;
}



mat-toolbar-row.mat-toolbar-row button:focus 
{
    outline: none;
    border: 0;
 }

.btncenter {
  margin: 0 auto;

img
{
    height:3em;
    width:3em;
    position: fixed;
    left:0;

}