<div class="container-fluid" id="serviceOneContainer">
  
    <div class="row justify-content-between">
      <h1 class="col-md-6" id="title1">Trading Partner Discovery</h1>
      <a href="" class="col-md-1" >
          <table>
            <tr>
              <td id="lefthalf">+</td>
              <td id="righthalf">ADD MODEL</td>
            </tr>
          </table>
        </a>
    </div>
    
    <div class="row">
      <h2 id="title2">Description:</h2>
    </div>

    <div class="row">
    <span class="col">
      <p>Businesses identify the most ideal trading partners by calling Artificial Intelligence (AI) engines which are continuously refined by AI service providers. AI models are trained to suit specific industries, product, and geography.</p>

      <p>Within test net, two AI models are available to use for now.Each tab basically shows the Model Name, Model description and Cost.</p>
        
       <p>Upon Mainnet lives, AI providers and even developer can contribute to the platform and build their AI model for use.</p>
        
    </span>
    </div>

    <div [style.display]="serviceOneParentVisible" class="row middle justify-content-between">
      <!-- Another router -->
 

      <a class="col"  [routerLink]="[{ outlets: { popup: ['compose'] } }]" routerLinkActive="active">
        <mat-card id="cardOne" >
            <mat-card-header>
              <img mat-card-avatar src="https://www.materialui.co/materialIcons/communication/business_black_144x144.png" alt="">
            <!-- <span mat-card-avatar class="example-header-image" ></span> -->
            </mat-card-header>
            <mat-card-title> Model 1</mat-card-title>
            <mat-card-subtitle>COST: 1.5 <span class="balanceUnit" > ETH</span></mat-card-subtitle>
            <mat-card-content>This is the description of Model 1</mat-card-content>
        </mat-card>
      </a>

      <a class="col"  [routerLink]="[{ outlets: { popup: ['compose2'] } }]" routerLinkActive="active">
        <mat-card >
            <mat-card-header>
                <img mat-card-avatar src="https://www.materialui.co/materialIcons/communication/business_black_144x144.png" alt="">
            <!-- <span mat-card-avatar class="example-header-image" ></span> -->
            </mat-card-header>
            <mat-card-title> Model 2</mat-card-title>
            <mat-card-subtitle>COST: 2<span class="balanceUnit"> ETH</span></mat-card-subtitle>
            <mat-card-content>This is the description of Model 2</mat-card-content>
        </mat-card>
      </a>

      <a class="col" >
          <mat-card id="cardOne" >
              <mat-card-header>
              <!-- <span mat-card-avatar class="example-header-image" ></span> -->
              <img mat-card-avatar src="https://www.materialui.co/materialIcons/communication/business_black_144x144.png" alt="">
              </mat-card-header>
              <mat-card-title> Model 3</mat-card-title>
              <mat-card-subtitle>COST:4.6 <span class="balanceUnit" > ETH</span></mat-card-subtitle>
              <mat-card-content>This is the description of Model 1</mat-card-content>
          </mat-card>
        </a>

        <a class="col">
            <mat-card id="cardOne" >
                <mat-card-header>
                    <img mat-card-avatar src="https://www.materialui.co/materialIcons/communication/business_black_144x144.png" alt="">
                  <!-- <span mat-card-avatar class="example-header-image" ></span> -->
                </mat-card-header>
                <mat-card-title> Model 4</mat-card-title>
                <mat-card-subtitle>COST: 8 <span class="balanceUnit" > ETH</span></mat-card-subtitle>
                <mat-card-content>This is the description of Model 1</mat-card-content>
            </mat-card>
          </a>
      
    </div>

    <div class="row">
      <div >
      <router-outlet name="popup" id="serviceOneRightPart"></router-outlet>
    </div>
    </div>
    
  </div>
  
  