<div class="container"> 

    <div class="row">
      <div class="col-xs-4"></div>
      <h1 class="col-xs-4">Models</h1>
      <div class="col-xs-4"></div>
    </div>
    
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-6 jumbotron">
        <a href="https://www.youtube.com/watch?v=Zd9kYgUjgSU">
          <img src="https://i.ytimg.com/vi/Zd9kYgUjgSU/maxresdefault.jpg" alt="Ian Goodfellow" class="img-thumbnail">
          <p>Ian Goodfellow</p>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-6 jumbotron">
        <a href="https://www.youtube.com/watch?v=UZbwFw4wB2w">
          <img src="https://i.ytimg.com/vi/UZbwFw4wB2w/maxresdefault.jpg" alt="Andrew Ng" class="img-thumbnail">
          <p>Andrew Ng</p>
        </a>
      </div>
    </div>
    
    </div>
    