@import '~@angular/material/theming';



@include mat-core();
$app-primary: mat-palette($mat-blue,400,200,100);
$app-accent:  mat-palette($mat-indigo);
$app-warn:    mat-palette($mat-red);

$theme: mat-light-theme($app-primary,$app-primary, $app-warn);

@include angular-material-theme($theme);

// theme class for overlay-based UI component in angular material library
// will be added in the constructor of AppModule class in app.module.ts
.menu-theme
{
  @include angular-material-theme($theme);
  
}

.menu-theme *
{
  font-family: 'Source Sans Pro', sans-serif;
}
// $primary: mat-palette($mat-blue,100);
// $accent:  mat-palette($mat-blue);
// $warn:    mat-palette($mat-red);
// $themeformenu:mat-dark-theme($primary,$accent, $warn);

// @include mat-menu-theme($themeformenu);



// disable underline of menu links
a.mat-menu-item:link {
    text-decoration: none;
}

a.mat-menu-item:visited {
    text-decoration: none;
}

// size of 'FRS' in cards
.balanceUnit
{
  font-size: 50%;
  color:gray;
}


// font settings
// body * 
// {
//     font-family: "Bender-Light" !important;
// }

// @font-face {
// 	font-family:"Bender-Light";
// 	src:url("Bender_Light.eot?") format("eot"),
// 		url("Bender_Light.woff") format("woff"),
// 		url("Bender_Light.ttf") format("truetype"),
// 		url("Bender_Light.svg#Bender-Light") format("svg");
// 		font-weight:normal;
// 		font-style:normal;
// }

body *
{
  font-family: 'Source Sans Pro', sans-serif;
}

// make the whole website unselectable
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

// material card hover shadow
  mat-card {
    // height: 150px !important;
    // width: 350px !important;
    // margin:5% 2% auto 2% !important;
    background: #fff !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
    
  }
  
  mat-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  }


  .topnav
  {
    position: fixed;
    top: 0;
    width: 100%;
    // make the navbar be on top of everything else
    z-index: 3;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  }

  footer
  {
    position:fixed;
    bottom:0;
    width:100%;
    z-index: -1000;
  }

  div.mat-menu-content
  {
    width:10vw;
  }